{% extends 'base.html.twig' %}

{% block body %}
    <div class="contrainer">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 class="text-center display-3">Bienvenue</h1>
            </div>
            <div class="col-12 mt-5">
                <p class="text-center" style="font-size: 1.5em;">Pour accéder au chat veuillez vous inscrire/connecter</p>
            </div>
        </div>
    </div>
{% endblock %}