{% extends 'base.html.twig' %}

{% block title %}Let's chatte{% endblock %}

{% block body %}

    <div class="row mx-0 h-100">
        <div class="col-12 col-md-10 h-100 p-0">

            <div class="chat-container" id="chatBox">

            </div>

            <div class="chat-form">
            <form id="sendMessage">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group p-1">
                            <textarea class="form-control" id="input_mess" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-1 pl-0 row">
                        <button type='submit' class="btn-clear">
                    <span class="fa-stack">
                      <i class=" text-discord fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                        </button>
                    </div>
                </div>
            </form>
            </div>

        </div>
        <div class="col-2 d-none d-md-block  h-100 user-list">
            <div class="logout text-right mb-1">
                <a href="{{ path('app_logout') }}">Déconnexion <i class="fa fa-sign-out"></i></a>

            </div>
            <div class="user-container" id="user_list">
            </div>

        </div>
    </div>

    <script>
        function updateScroll() {
            var element = document.getElementById("chatBox");
            element.scrollTop = element.scrollHeight;
        }
 $(document).ready(function(){
    var chatBox = $('#chatBox')
    var myform = $('#sendMessage')
        $.get("{{path('api_get_users')}}", function (data) {

            let x
            let user_list = $('#user_list')
            for (x in data.users){
                let user = data.users[x]
                let str = `<div class="user-card">
                                <div class="row">
                                    <div class="col-2">
                                        <span class="fa-stack h6">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fa-stack-1x text-white">`+ user.username.substring(0, 1) +`</i>
                                            <div class="online" id=`+ user.username +`></div>
                                        </span>
                                    </div>
                                    <div class="col-8 pl-4 ">
                                        <small class="text-muted">
                                            `+ user.username +`
                                        </small>
                                    </div>
                                 </div>
                            </div>`
                user_list.append(str)
                if (user.isOnline == false){
                    $('#'+ user.username).removeClass('online')
                }
            }
        })
        $.get("{{path('api_get_current_messages')}}", function(data){
            let x
            for ( x in data.messages){
                let message = data.messages[x]
                let date = message.sendAt.date
                date = date.substring(0, 10)
                date = date.split('-')
                heure = message.sendAt.date.substring(11, 16)
                let str = `<div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">`+ message.author.substring(0, 1)+`</i>
                    </span>
                        <small class="text-muted font-weight-bold username">`+ message.author +`</small>
                        <xtrasmall class="text-muted">`+ date[2] + ` / ` + date[1] + ` / ` + date[0] +` à `+ heure +`</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        `+ message.content +`
                    </div>
                </div>`
                chatBox.append(str)
            }
        })
        myform.submit(function(event){

            event.preventDefault()

            let Message = $('#input_mess').val()

            

            $.post("{{path('api_send_message')}}",
            {
                content: Message
            }
            , function(data){
                $('#input_mess').val('')
                }
            )
        })
    })

        $(document).ready(() => {
            updateScroll()
        })

        

    </script>

{% endblock %}
